{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <a href="{{ path("home") }}">go back to ticket list</a>
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
