{% extends "@FOSUser/layout.html.twig" %}

{% block navLinks %}
    <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
