<table>
    {% if gradeArray is empty %}
        <tr>No grade given.</tr>
    {% else %}
        {% for grade in gradeArray %}
            <tr>
                <td> {{ grade }} </td>
                <td> {{ grade.comment }} </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>