{% extends "base.html.twig" %}

{% set role = 'student' %}


{% if is_granted('ROLE_ADMIN') %}
    {% set role = 'admin' %}
{% elseif is_granted('ROLE_TEACHER') %}
    {% set role = 'teacher' %}
{% endif %}

{% block navLinks %}
    <li><a href="{{ path('subject_index') }}">Subjects</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
{% endblock %}
