{% extends "common/connected.html.twig" %}

{% block navLinks %}
    <li>{{ role }}</li>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        Welcome back, {{ app.user.username }}
    </div>
{% endblock %}