{% extends "@FOSUser/layout.html.twig" %}

{% block navLinks %}
    <li><a href="{{ path('fos_user_registration_register') }}">register</a></li>
{% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
